---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="HIM Clothing">
  <main class="min-h-screen flex items-center justify-center">
    <h1 class="text-6xl tracking-tight">HIM Clothing</h1>
  </main>
</BaseLayout>
